<h1>Play Matching</h1>

<menu>
    <ul>
        <li>All</li>
        <% @entity_types.each do |entity_type| %>
            <li> <%=entity_type.name %> </li>
        <% end %>
        
    </ul>
</menu>
