<h1>Celestial Entities</h1>

<ul class='nowrap'>
<% @celestial_entities.each do |celestial_entity| %>
  <li > 
    <%= link_to image_tag('celestial_entities/' + celestial_entity.name + '.jpg', :class => 'thumbnail' ) +raw('<div>') +  celestial_entity.name + raw('</div>'), celestial_entity    %>
  </li>
<% end %>
</ul>
